<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Content Management
    </a>
    <ul class="dropdown-menu">
        <li class="nav-item">
            <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
        </li>
        <li><hr class="dropdown-divider"></li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="BuyProduct" asp-action="Index">Supply</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="CreditManagements" asp-action="Index">Credit</a>
</li>